@model Db_Insert.Models.Insert

@{
    ViewBag.Title = "Insert Product";
}

<h2>Insert Product</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Price)
    </div>

    <button type="submit" class="btn btn-primary">Insert</button>
}

